<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master-page}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<style>
    body, html {
        height: 100%;
        margin: 0;


        /* The image used */
        background-image: url("https://images.hdqwalls.com/wallpapers/minimalism-plane-flying-above-mountains-moon-ay.jpg");

        /* Full height */
        height: 100%;

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<body>
<th:block layout:fragment="content">
    <div class="col-md-4 col-md-offset-4">
        <div class="row">
            <div class="col-md-12" style="margin-bottom: 10px">
                <h1 style="color: whitesmoke">Search a Flight</h1>
            </div>
        </div>


        <form action="/flight/search" method="post" style="width: 80%">


            <div class="from-group">
                <label class="col-form-label" for="departureAirport" style="color: azure">From</label>
                <select class="form-control" id="departureAirport" name="departureAirport">
                    <option th:each="airport, i:${airports}" th:text="${airport.airportName}"
                            th:value="${airport.airportId}">
                    </option>
                </select>
            </div>

            <div class="from-group">
                <label class="col-form-label" for="destinationAirport" style="color: azure">To</label>
                <span th:if="${AirportError!=null}" th:text="${AirportError}"
                      class="badge badge-danger"></span>
                <select class="form-control" id="destinationAirport" name="destinationAirport">
                    <option th:each="airport, i:${airports}" th:text="${airport.airportName}"
                            th:value="${airport.airportId}">
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label class="col-form-label" for="departureTime" style="color: azure">Departure Time</label>
                <input type="date" class="form-control" placeholder="" id="departureTime"
                       name="departureTime" required>
            </div>


            <div class="form-group">
                <button type="submit" class="btn btn-success" style="float: none">Search</button>
            </div>

            <div class="form-group">
                <div class="col-sm">
                    <a href="/"><button type="button" class="btn btn-outline-primary" style="float: end">Home</button></a>
                </div>
            </div>
    </form>
    <div class="col-md-4 col-md-offset-4">
        <th:block th:if="${notFound !=null}">
            <div class="col-12">
                <p style="text-align: center; margin-top: 30px; color: red; font-weight: bold">No Record Found!</p>
            </div>
        </th:block>
        <th:block th:if="${flights!=null}">
            <div class="row" style="margin-bottom: 10px">
                <div class="col-md-6">
                    <h1 style="color: darkblue">Result </h1>
                </div>

            </div>
            <table class="table table-sm">
                <thead>
                <tr class="table-active">
                    <th scope="col">ID</th>
                    <th scope="col">Flight Number</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Departure time</th>
                    <th scope="col">Arrival time</th>
                    <th scope="col">Flight Charge</th>
                    <th scope="col">Aircraft</th>
                    <th scope="col">Available Seats</th>
                </tr>
                </thead>
                <tbody>
                <div th:each="flight, iterStat:${flights}">
                    <tr style="background-color: #fdfdfd">
                        <th scope="row" th:text="${flight.flightId}">Dark</th>
                        <td th:text="${flight.flightNumber}"></td>
                        <td th:text="${flight.departureAirport.airportName}"></td>
                        <td th:text="${flight.destinationAirport.airportName}"></td>
                        <td th:text="${flight.departureDate+' '+flight.departureTime}"></td>
                        <td th:text="${flight.arrivalDate+' '+flight.arrivalTime}"></td>
                        <td th:text="${flight.flightCharge}"></td>
                        <td th:text="${flight.aircraft.model}"></td>
                        <td th:text="${flight.aircraft.numberOfSeats - flight.passengers.size() +'/'+ flight.aircraft.numberOfSeats}"></td>
                    </tr>
                </div>
                </tbody>
            </table>

        </th:block>

    </div>
    </div>


</th:block>
</body>
</html>